*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --space-small: 10px;
    --space-medium: 20px;
    --space-large: 40px;
    --section-width: 80vw;
    --section-height: 80vh;
    --section-hieght-auto: auto;
    --section-padding: 20px 20px;
    --border-style: 2px solid black;
    --footer-color:#D3D3D3;
    --universal-padding: 50px 70px;
}
body{
    background-color: #FFFFFF;
    font-family: "Roboto Mono", monospace;
    overflow-x: hidden;
}

.navContainer{
    /*border: 2px solid red;*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 18%;
    z-index: 9999;
    background-color: #FFFFFF;

}
.navElementContainer{
    /*border: 2px solid black;*/
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding: 15px 20px;

    /*padding-right: 70px;*/
    /*padding-left: 70px;*/
}
.containerForAllItemsInNav{
    /*border: 2px solid red;*/
    display: flex;
    margin: auto;
    width: 100%;
}
.logoAndSearch{
    /*border: 2px solid black;*/
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 20px;
}
.logo{
    border: 2px solid green;
    border-radius: 4px;
    padding: 5px 5px;
    display: flex;
    width: 120px;

    text-decoration: none;
    color: green;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    justify-content: center;
}
.logo a{
    text-decoration: none;
    color: green;
}
.inputContainer{
    /*border: 2px solid fuchsia;*/
    display: flex;
    width: 95%;
    justify-content: flex-end;
    gap: 3%;
}
.inputContainer input{
    width: 80%;
    border: 1px solid black;
    border-radius: 40px;
    padding-left: 20px;
}
.inputContainer span{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    transition: 0.2s;
}
.inputContainer span a{
    text-decoration: none;
    color: black;
}
.inputContainer span a:hover{
    color: green;
    transition: 0.4s;
}
.containerForAccountAndCart{
    /*border: 2px solid black;*/
    width: 35%;
    margin: auto;
}
.accountAndCartElements{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.accountAndCartElements ul{
    /*border: 2px solid black;*/
    display: flex;
    width: 80%;
    position: relative;
    left: 20px;
    list-style: none;
    justify-content: space-evenly;
}
.accountAndCartElements a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 40px;
    transition: 0.4s;
    align-items: center;
    display: flex;
}
.accountAndCartElements a:hover{
    color: green;
    transition: 0.4s;
}
.account label a:hover{
    color: green;
    transition: 0.4s;
}

.shoppingCart a{
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}
.shoppingCart span{
    /*width: 50px;*/
}
.shoppingCart img{
    padding: 5px 5px;
    border: none;
    width: 30px;

}

.slideShow-container{
    width: 50vw;
    height:70vh;
}

.searchBarContainer{

    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.searBarMainContainer input{
    /*border: 1px solid black;*/
    border-radius: 20px;
    width: 50vw;
    height: 40px;
    margin: auto;
    padding: 20px;
    display: flex;
}


/*Section 1 (Introduction)*/
.heroSection{
    /*border: 2px solid black;*/
    height:auto;
    padding: 80px 80px;
}
.heroContainer{
    width: 90vw;
    height:auto;
    margin: auto;
}
.heroContainer img{
    width: 90vw;
    height:80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 2px solid black;*/
}
.heroImage{
    /*padding-top: 80px;*/
}
.inputContainer input::placeholder{
    font-family: "Roboto Mono", monospace;
}

/* Hero SubSection category display section*/

.categoryIntro{
    /*border: 2px solid black;*/
    margin-top: 3%;
}
.introContainer{
    /*border: 2px solid black;*/
    width: 90vw;
    margin: auto;
}
.introHeading{
    /*border: 2px solid red;*/
    width: 30%;
    align-items: center;
    display: flex;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    transition: 0.2s;
    padding-bottom: 20px;
}
.containerHoldingCategoryDisplay{
    /*border: 2px solid green;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.catStyle{
    /*border: 2px solid black;*/
    width: 20vw;
    height: 30vh;
}

.title {
    /*border: 1px solid black;*/
    width: 50%;
    margin: auto;
}

.title h3{
    text-align: center;
}
.titleContainer{
    /*border: 2px solid red;*/
    padding-top: 5px;
    text-align: center;
    display: flex;
}
.category1 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}
.category2 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}
.category3 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}
.category4 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}
.category5 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}

/* Product display Section */

.productDisplaySection1{
    /*border: 2px solid black;*/
    /*margin-top: 5%;*/
    padding: 15px 15px;
}
.productContainer{
    /*border: 2px solid red;*/
    width: 90vw;
    height:auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.productListingCategory{
    /*border: 2px solid black;*/
}
.pLCContainer{
    /*border: 2px solid red;*/
    width: 30%;
    padding:20px 20px;
}
.pLCContainer h4{
    align-items: center;
    display: flex;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    transition: 0.2s;
}
.headingResizer{
    /*border: 2px solid green;*/
    width: 86vw;
    margin: auto;
}
.spaceDownProductContainers{
    margin-top: 8%;

}
.productBorders{
    /*border: 2px solid black;*/
}

.productImageSize{
    width: 20vw;
    height: auto;
}
.product1 img{
    display: flex;
    align-items: center;
    /*padding: 10px 10px;*/
    margin: auto;
}
.descriptionContainer{
    width: 20vw;
    height: 10vh;
}
.descriptionElements{
    /*border: 2px solid black;*/
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    align-items: center;
}

.addToCartBtn{
    border: 1px solid yellowgreen;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 10px;
}
.addToCartBtn span{
    font-weight: bolder;
    font-size: 13px;
}
.addToCartBtn a{
    text-decoration: none;
    color: green;
}
.addToCartBtn:hover{
    background-color: yellowgreen;
    transition: 0.4s;
}
.addToCartBtn a:hover{
    color: white;
    transition: 0.4s;
}
/*Our Partners*/

.ourPartners{
    /*border: 2px solid black;*/
    padding: 40px 40px;
    align-items: center;
    margin-top: 6%;
}

.containerForOurPartners{
    /*border: 2px solid red;*/
    width: var(--section-width);
    margin: auto;
    height: var(--section-height);
    padding: 40px 40px;
}
.partnerHeading{
    /*border: var(--border-style);*/
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.brands{
    /*border: var(--border-style);*/
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.brandSpace{
    /*border: var(--border-style);*/
    width: 20%;
    padding: 10px;
    align-items: center;
    display: flex;
}
.room img{
    width: 100%;
}
.safewayResized img{
    width: 100%;
    align-items: center;
    display: flex;
}
.brandContainer{
    /*border: 2px solid red;*/
    width: 100%;
    margin: auto;
    align-items: center;
    vertical-align: baseline;
}
.brandContainer2{
    /*border: 2px solid red;*/
    width: 70%;
    margin: auto;
    align-items: center;
    vertical-align: baseline;
}

/* Home Page Footer */
.homePageFooter{
    background-color: var(--footer-color);
}

.footerContainer{
    /*border: 2px solid red;*/
    width: var(--section-width);
    margin: auto;
    background-color: var(--footer-color);
    height: 50vh;
    display: flex;
    align-items: center;
}
.footerElements{
    /*border: var(--border-style);*/
    width: var(--section-width);
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    /*border: var(--border-style);*/
    padding: 20px;
    color: green;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footerLogo span{
    /*border: var(--border-style);*/
}
.footerMenuStyles{
    display: flex;
    font-size: medium;
    /*border: var(--border-style);*/
    list-style: none;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
    gap: 30px;
}
.footerMenuStyles a{
    /*border: var(--border-style);*/
    text-decoration: none;
    color: black;
}

/* Sign up page */

.signUpHeader{
    border-bottom: 1px solid black;
}
.signUpHeaderContainer{
    /*border: 2px solid green;*/
    width: var(--section-width);
    margin: auto;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}
.alreadyHaveAnAccount{
    /*border: 2px solid red;*/
    width: 30%;
    padding: 10px 10px;
}
.signIn{
    /*border: 2px solid black;*/
    width: 100%;
    display: flex;
    justify-content: center;
}
.formArea{
    /*border: 2px solid black;*/
}
.createAccountHeading{
    /*border: 2px solid red;*/
}
.containerForCreateAccount h4{
    /*border: 2px solid blue;*/
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.formAreaContainer{
    /*border: 2px solid red;*/
    width: var(--section-width);
    margin: auto;
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.leftSideOfTheForm{
    /*border: 2px solid black;*/
    width: 50%;
}
.containerForImage img{
    width: 100%;
    display: flex;
    align-items: center;
}
.rightSideOfTheForm{
    /*border: 2px solid black;*/
    width: 50%;
}
.rightSideContainer{
    width: 100%;
}
.createAccountHeading{
    /*border: 2px solid black;*/
}
.formFields{
    /*border: 2px solid black;*/
    padding: 40px 40px;
}
.formFieldContainer{
    /*border: 2px solid red;*/
}
.formFieldContainer input{
    /*border: 2px solid green;*/
    width: 100%;
    border: 1px solid black;
    border-radius: 40px;
}
.formFieldContainer span{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

}
.formFieldContainer input.firstName{
    /*border: 2px solid blue;*/
    width: 48%;
    padding: 15px 15px;
}
.formFieldContainer input.lastName{
    /*border: 2px solid blue;*/
    width: 48%;
    padding: 15px 15px;
}
.formFieldContainer input.email{
    padding: 15px 15px;
}
.formFieldContainer input.password{
    padding: 15px 15px;
}

.notice{
    /*border: 2px solid red;*/
    padding: 15px 15px;
    /*align-items: center;*/
    justify-content: center;
}
.noticeText{
    /*border: 2px solid red;*/
    padding: 15px 15px;
}
.noticeText p{
    color: darkgray;
}
.noticeText a{
    text-decoration: underline;
    color: darkgray;
}
.createAccountCon{
    /*border: 2px solid red;*/
}
.createAccountCon a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
}
.createAccountElementBtn{
    border: 1px solid #c7c7c7;
    border-radius: 40px;
    padding: 15px 15px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #c7c7c7;
}
.orContinueWith{
    /*border: 2px solid red;*/
}
.textInBetween{
    /*border: 2px solid black;*/
}
.areaContainer{
    /*border: 2px solid red;*/
    padding: 20px 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.hrContainer{
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.hrContainer .hrLine{
    border: 1px solid black;
    width: 100%;
}
.areaContainer span{
    /*border: 1px solid black;*/
    padding: 5px 5px;
}
.socialNetworkLinkContainer{
    /*border: 2px solid red;*/
    padding: 15px 15px;
}
.socialNetworkElements{
    /*border: 2px solid darkgreen;*/
    display: flex;
    justify-content: space-evenly;

}
#google{
    border: none;
}
#facebook{
    border: none;
}
#apple{
    border: none;
}
.socialNetworkElements a{
    border: 1px solid black;
    display: flex;
    border-radius: 30px;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}
.socialNetworkElements a span{
    padding: 10px 10px;
    display: flex;
    gap: 8px;
    transition: 0.4s;
}
.socialNetworkElements a:hover{
    background-color: greenyellow;
    transition: 0.4s;
}


/* Sign in Area */

.signInHeader{
    border-bottom: 1px solid black;
}
.signInHeaderContainer{
    width: var(--section-width);
    margin: auto;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}

.logInArea{
    /*border: 2px solid black;*/
    padding: 40px 40px;
}
.logInAreaContainer{
    /*border: 2px solid black;*/
    width: var(--section-width);
    padding: 20px 20px;
    margin: auto;
}
.logInformArea{
    /*border: 2px solid black;*/
    width: 50%;
    margin: auto;
}

.loginFormHeadingText{
    /*border: 2px solid red;*/
    width: 50%;
    margin: auto;
}
.loginFormHeadingText h4{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.logInformArea span{
    display: block;
    padding: 20px 20px;
}
.loginEmailAddress{
    /*border: 2px solid black;*/
    width: 70%;
    margin: auto;
}
.loginPassword{
    /*border: 2px solid black;*/
    width: 70%;

    margin: auto;
}
.logInformArea input{
    /*border: 2px solid green;*/
    width: 100%;
    padding: 15px 15px;
    border-radius: 40px;
}
.signInBtn{
    border: 1px solid #c7c7c7;
    width: 64%;
    border-radius: 40px;
    margin: auto;
    padding: 0;
    background-color: #c7c7c7;
}

.signInBtn a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;

}
.signInBtn span{
    padding: 13px 20px;
}
.loginFormAssist{
    /*border: 2px solid red;*/
    width: 50%;
    margin: auto;
}

.loginFormAssist a{
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
}
.staySignedArea{
    /*border: 2px solid red;*/
    display: flex;
    width: 50%;
    margin: auto;
}
.staySignInContainer{
    /*border: 2px solid black;*/
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 10px 10px;
    align-items: center;
}
.staySignInContainer img{
    width: 20px;
}
.borderLine{
    /*border: 2px solid red;*/
    padding-top: 30px;
}
.hrLineContainer{
    border-bottom: 1px solid black;
    width: 100%;
}
.hrLine{
    border: none;
}

/* Product Listing */
.productListingArea{
    /*border: 2px solid red;*/
    margin-top: 7.8%;
    padding: var(--universal-padding);

}
.productListingBody{
    background-color: #E5E4E2;
}
.productListingAreaContainer{
    /*border: 2px solid blue;*/
    display: flex;
    justify-content: space-between;
}
.sidePaneContainer{
    /*border: 1px solid black;*/
    width: 25vw;
    height: auto;
}
.sidePaneBody{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}
.sidePaneForCategory{
    border-bottom: 1px solid black;
    padding: 10px 10px;
}
.categoryMainContainer{
    /*border: 2px solid red;*/
}
.productDisplayAreaBody{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}
.categoryContainer ul{
    list-style: none;
}
.categoryContainer a{
    text-decoration: none;
    color: black;
}
.categoryContainerPadding{
     padding: 15px 10px;
}

/* products view */

.productDisplayArea{
    /*border: 2px solid black;*/
    width: 65%;
}
.displayRow{
    /*border: 2px solid black;*/
    height: 60vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.description{
    padding: 5px 5px;
}
.price{
    padding: 5px 5px;
}
.ratingStars{
    border: 2px solid black;
    display: flex;
    padding: 10px 10px;
    /*width: 24%;*/
    /*height: 20px;*/
}
.ratingStars span{
    color: orange;
}
/*.addToCartBtn{*/
/*    border: 1px solid yellowgreen;*/
/*}*/
.addToCartBtn a{
    text-decoration: none;
}
/*.displayRow2{*/
/*    !*border: 2px solid black;*!*/
/*    height: 60vh;*/
/*    display: flex;*/
/*    padding-top: 20px;*/
/*    justify-content: space-evenly;*/
/*}*/
.productShowGlass{
    border: 2px solid black;
    width: 211px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.productShowGlass img{
    width: 210px;
    height: 215px;
    border: 1px solid black;
}
.productDescriptionArea{
    width: 210px;
    /*height: 200px;*/
    border: 1px solid red;
}
/* Shopping Cart */

.cartAreaContainer{
    border: 2px solid black;
    margin-top: 10%;
    height: 70vh;
}

.cartArea{
    border: 2px solid red;
    width: 90vw;
    margin: auto;
}

.leftSideForItemsDisplayedContainer{
    border: 2px solid black;
    width: 60%;
}
.leftSideItemsDisplayArea{
    border: 2px solid black;
    width: 100%;
    display: flex;
    /*heigth: ;*/
}
.itemImageContainer{
    border: 2px solid black;
    width:30%;
}
.imageArea{
    border: 2px solid black;
}
.productItemTitle{
    border: 2px solid black;
    width: 60%;
}
.productTextArea{
    border: 2px solid black;
    width: 100%;
}
.deliveryStatus span{
    color: green;
}

/* Home in session Styles */

.myProfileIconContainer{
    /*border: var(--border-style);*/
    position: relative;
    right: 5%;
}

.containerForAccountAndCartForHomeInSessionPage{
    width: 35%;
    margin: auto;
    /*border: 2px solid red;*/
}
.accountAndCartElementsForHomeInSessionPage{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.accountAndCartElementsForHomeInSessionPage ul{
    /*border: 2px solid black;*/
    display: flex;
    width: 75%;
    position: relative;
    left: 10px;
    list-style: none;
    justify-content: space-evenly;
}
.accountAndCartElementsForHomeInSessionPage a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 40px;
    transition: 0.4s;
    align-items: center;
    display: flex;
}
.accountAndCartElementsForHomeInSessionPage a:hover{
    color: green;
    transition: 0.4s;
}

/* Home-in-session Hero section */

.heroSectionOfInSessionPage{
    /*border: 2px solid black;*/
    height:auto;
    padding: 40px 40px;
    margin-top: 5%;
}
.heroContainerOfInSessionPage{
    width: 90vw;
    height:auto;
    margin: auto;
    /*border: 2px solid black;*/
}
.heroContainerOfInSessionPage img{
    width: 90vw;
    height:80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*border: 2px solid black;*/
}
.heroImageOfHomeInSession{
    width: 90vw;
    height: 80vh; /* Adjust this as needed */
    margin: auto;
    background-image: url('./assets/bannerImages/Brown_Modern_Big_Sale_Banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}